* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #8db411;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 17px;
  color: #cbcbcb;
  align-items: center;
}

.header .procesbar {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.header .procesbar span {
  margin-right: 10px;
  border: 2px solid #cbcbcb;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 30px;
  height: 30px;
}

.active-procesbar {
  color: #8db411;
}

.header .active-procesbar span {
  border: 2px solid #8db411;
}

.header i {
  font-size: 16px;
  margin: 0 5px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 15px 35px;
  font-family: "Inter";
  align-items: center;
  margin-bottom: 50px;
}

.camping-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 10px;
  width: 85%;
}

.campingNaamContainer h1 {
  font-size: 35px;
}

.price {
  font-weight: 700;
  font-size: 23px;
}

.price span {
  font-weight: 300;
  font-size: 15px;
  color: #5e5e5e;
}

.back-link {
  margin: 10px 0;
  font-weight: 600;
  align-self: flex-start;
  color: #8db411;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid #8db411;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.back-link:hover {
  background-color: #8db411;
  color: white;
}

.camping-info__container {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.camping-info__left {
  width: 45%;
  margin-right: 5px;
}

.camping-info__left img {
  width: 100%;
  border-radius: 10px;
}

.reservation-section {
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 25px 35px;
  width: fit-content;
  margin-left: 5px;
  border-radius: 5px;
  height: 100%;
}

.pay-button {
  border: none;
  background-color: #8db411;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.pay-button:hover {
  background-color: #76a10e;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.carousel .camping-img {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel .camping-img.active {
  display: block;
  opacity: 1;
}

.carousel .arrow-left,
.carousel .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px; /* Make it square */
  height: 40px; /* Make it square */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.carousel .arrow-left:hover,
.carousel .arrow-right:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carousel .arrow-left {
  left: 20px; /* Increased distance from the left side */
}

.carousel .arrow-right {
  right: 20px; /* Increased distance from the right side */
}

.dots-navigation {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.active {
  background-color: #8db411;
}

.infoTabs {
  display: flex;
  background-color: #f2f2f2;
  width: fit-content;
  margin: 15px 0;
  border-radius: 6px;
}

.infoTabs .tab {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #9e9e9e;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.infoTabs .tab:hover {
  background-color: #e0e0e0;
  color: #8db411;
  transform: scale(1.05);
}

.activeTab {
  background-color: white;
  color: black !important;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.activeTab:hover {
  transform: scale(1.05);
}

.content {
  display: none;
}

.disabled {
  color: rgb(215, 215, 215) !important;
}

.active-content {
  display: flex !important;
}

#overview {
  border: 1px solid #e0e0e0;
  padding: 20px 30px;
  border-radius: 6px;
  flex-direction: column;
}

#overview h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

#overview p {
  font-size: 14px;
}

#overview .features {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#overview .features__left,
#overview .features__right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#overview .features__left {
  margin-right: 35px;
}

#overview .feature {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

#overview .feature h4 {
  font-size: 13px;
}

#overview .feature p {
  font-weight: 400;
  font-size: 12px;
}

#facilities,
#house-rules {
  border: 1px solid #e0e0e0;
  padding: 20px 30px;
  border-radius: 6px;
  flex-direction: column;
}

#facilities h2,
#house-rules h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

#facilities .facilities__item,
#house-rules p {
  font-size: 14px;
}

#facilities .facilities__item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

#facilities .facilities__item i {
  margin-right: 10px;
  font-size: 18px;
}

.korting__infoText {
  margin: 20px 0 10px;
  font-size: 14px;
  color: rgb(102, 102, 102);
}

.personPicker__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.personPicker {
  border: 1px solid #b3b3b3;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}

.personPicker img {
  width: 15px;
}

.personPicker__text {
  display: flex;
  flex-direction: column;
}

.personPicker__text h5 {
  font-size: 15px;
  font-weight: 600;
}

.personPicker__text p {
  color: #7b7b7b;
  font-size: 13px;
  margin-top: 3px;
}

.personPicker__customDropdown {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 0 0 10px 10px;
  left: 0;
  top: 100%;
  width: 100%;
  flex-direction: column;
  padding: 30px 35px;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.personPicker__customDropdown.visible {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.personPicker__customDropdown .picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.personPicker__customDropdown .picker p {
  font-size: 13px;
}

.picker__info {
  display: flex;
  flex-direction: column;
}

.picker__info h4 {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.picker__info h4 span {
  font-size: 14px;
  font-weight: 400;
  color: #888;
  margin: 0 8px;
}

.picker__info h4 p {
  color: #61b546;
  font-size: 14px !important;
}

.person-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-control p {
  font-size: 15px !important;
  font-weight: 600;
  text-align: center;
}

.personPickerArrowIcon {
  transition: transform 0.2s ease;
}

.personPickerArrowIcon.rotated {
  transform: rotate(90deg);
}

.person-control i {
  margin: 0 10px;
  font-size: 25px;
  transition: all 0.2s;
  cursor: pointer;
}

.person-control .minus:hover {
  color: rgb(224, 0, 0);
}

.person-control .plus:hover {
  color: #8db411;
}

.line {
  border: 0.5px solid #dadada;
  margin: 18px 0;
}

.arrive-departure {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.arrive-date,
.departure-date {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.arrive-date {
  margin-right: 20px;
}

.arrive-date span,
.departure-date span {
  font-size: 14px;
  font-weight: 600;
}

.departure-date input,
.arrive-date input {
  font-family: "Inter";
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  margin-top: 5px;
}

.cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cost p {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 600;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.total-price p {
  font-weight: 600;
}

.calendar-container {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  font-family: "Inter";
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

#calendar {
  width: 100%;
}

.flatpickr-month {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
  color: #000;
}

.flatpickr-weekdays {
  display: flex;
  justify-content: space-between;
  color: #888;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: transparent !important;
}

.flatpickr-weekday {
  width: 36px;
  text-align: center;
  background-color: transparent !important;
}

.flatpickr-day {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin: 2px;
  border-radius: 6px;
  cursor: pointer;
  color: #333;
}

.flatpickr-day:hover {
  background-color: #f0f0f0;
}

.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background-color: #61b546 !important;
  color: white;
  font-weight: bold;
  border-radius: 3px !important;
  border: none !important;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  -webkit-box-shadow: -10px 0 0 rgb(230, 230, 230);
  box-shadow: -10px 0 0 rgb(230, 230, 230);
  z-index: -1;
}

.flatpickr-day.disabled {
  background-color: #f9f9f9;
  color: #ccc;
  cursor: not-allowed;
}

#selected-dates {
  margin-top: 20px;
}

#selected-dates p {
  font-size: 16px;
  color: #333;
}

#selected-dates span {
  font-weight: bold;
  color: #61b546;
}

.footer {
  background-color: #8db411;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .camping-info__container {
    flex-direction: column;
    align-items: center;
  }

  .camping-info__left,
  .reservation-section {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .carousel {
    flex-direction: column;
  }

  .carousel .arrow-left,
  .carousel .arrow-right {
    position: absolute;
    margin: 0;
  }

  .dots-navigation {
    top: auto;
    bottom: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
  }

  .header .procesbar p {
    display: none;
  }

  .header .procesbar:not(.active-procesbar) span {
    margin-right: 0;
    font-size: 12px;
    width: 25px;
    height: 25px;
  }

  .header .active-procesbar p {
    display: inline;
  }

  .header i {
    display: inline;
    font-size: 12px;
  }

  .container {
    padding: 10px 35px;
  }

  .camping-info-header {
    width: 100%;
  }

  .camping-info__container {
    width: 100%;
  }

  .camping-info__left {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }

  .reservation-section {
    margin-left: 0;
  }

  .infoTabs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
  }

  .infoTabs .tab {
    margin: 5px;
  }

  .tab-content {
    padding: 10px;
  }

  .pay-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}
