.filterbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black
}

img {
    width: 25px;
}
.filterknop {
    border: 1.5px solid black;
    width:  fit-content;
    display: flex;
    flex-direction: row;margin: 10px;
    padding: 10px 25px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.filterknop h3 {
    margin-left: 10px;
    font-family: "Inter";
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.type {
    border: 1.5px solid black;
    width: fit-content;
    display: flex;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Inter";
    font-size: 14px;

}
.type h3 {
    font-weight: 500;
    margin-right: 10px;
}
.type img {
    width: 20px;
}