.filterbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 8px;
}

img {
  width: 25px;
}

.filterButton {
  border: 1.5px solid black;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px 25px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
}

.filterButton h3 {
  margin-left: 10px;
  font-family: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.type {
  border: 1.5px solid black;
  width: fit-content;
  display: flex;
  padding: 12px 30px;
  border-radius: 50px;
  font-family: "Inter";
  cursor: pointer;
  font-size: 14px;
}

.type h3 {
  margin-right: 10px;
  font-weight: 500 !important;


}

.price {
  border: 1.5px solid black;
  width: fit-content;
  display: flex;
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 14px;
  margin-left: 10px;
}

.price h3 {
    font-weight: 500 !important;
  margin-right: 10px;
}

