.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.filterbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 8px;
  width: 100%;
}

img {
  width: 25px;
}

html,
body {
  height: 100%;
}

.filterButton {
  border: 1.5px solid black;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px 25px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
}

.filterButton h3 {
  margin-left: 10px;
  font-family: "Inter";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.type {
  border: 1.5px solid black;
  width: fit-content;
  display: flex;
  padding: 12px 30px;
  border-radius: 50px;
  font-family: "Inter";
  cursor: pointer;
  font-size: 14px;
}

.type h3 {
  margin-right: 10px;
  font-weight: 500 !important;
}

.price {
  border: 1.5px solid black;
  width: fit-content;
  display: flex;
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 14px;
  margin-left: 10px;
}

.price h3 {
  font-weight: 500 !important;
  margin-right: 10px;
}

#map {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
.custom-marker {
  width: 35px;
  height: 35px;
  background-color: red; /* of een andere kleur */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.mapboxgl-popup {
  background: white;
  max-width: 300px; /* Pas dit aan indien nodig */
  box-shadow: none; /* Verwijder schaduwen */
  border-radius: 10px !important;
}

.mapboxgl-popup-content {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 0 !important;
  border-radius: 10px !important;
}

/* Styling voor het kruisje */
.mapboxgl-popup-close-button {
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  padding: 0;
}

.infoCard__content {
  padding: 10px;
}

.infoCard img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.infoCard button {
  padding: 8px 30px;
  background-color: #8db411;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  color: white;
  margin-top: 10px;
}

.mapboxgl-popup-tip {
  display: none; /* Verberg de standaard pijl */
}
