* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.navigation {
  background-color: #8db411;
  padding: 30px 20px;
  margin-bottom: 85px;
}

.container i {
  font-size: 80px;
  color: #8db411;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container h1 {
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.container h2 {
  font-size: 40px;
  color: #8db411;
  text-align: center;
}

.container h3 {
  color: #807f7f;
  font-weight: 100;
  max-width: 460px;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.reserveringsnummer__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: #8db411;
  padding: 14px 20px;
  color: white;
  border-radius: 10px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reserveringsnummer__header h2 {
  color: white !important;
}

.actions {
  display: flex;
  width: 90%;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 35px;
  max-width: 900px;
  flex-wrap: wrap;
}

.actions a {
  padding: 10px 20px;
  background-color: #8db411;
  cursor: pointer;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
}

.actions__right {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.actions__right button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.actions__right button i {
  font-size: 18px;
  margin-right: 8px;
}

.actions__right button p {
  font-weight: 500;
  font-size: 14px;
}

.overviewCard {
  width: 90%;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
  max-width: 900px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.reserveDetail {
  background-color: #8db411;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.reserveDetail i {
  color: white;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 18px;
}

.reserveDetail p {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.detailContent {
  border: solid #d6d6d6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
  display: flex;
}

@media (max-width: 868px) {
  .detailContent {
    flex-direction: column;
  }

  .detailContent__left {
    width: 100% !important;
  }
  .detailContent__right {
    width: 100% !important;
  }
}

@media (max-width: 407px) {
  .companions__details {
    flex-direction: column;
  }

  .stayDuration__content {
    flex-direction: column;
  }

  .arrival {
    margin-bottom: 10px;
  }
}

#download {
  margin-left: 10px;
}

.campingLocation-info {
  margin-bottom: 20px;
}

.campingInfo__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #8db411;
  font-size: 18px;
}

.campingInfo__header i {
  font-size: 20px;
  margin-right: 10px;
}

.campingInfo__content {
  background-color: #f5f5f5 !important;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campingInfo__content p {
  color: #505050;
  font-size: 15px;
  margin: 3px 0;
}

.stayDuration__header i {
  font-size: 20px;
  margin-right: 10px;
}

.stayDuration {
  font-family: Arial, sans-serif;
}

.stayDuration__header {
  display: flex;
  margin-bottom: 20px;
  font-size: 18px;

  color: #8db411;
}

.stayDuration__header i {
  font-size: 20px;
}

.stayDuration__content {
  display: flex;
  margin-bottom: 30px;
  background-color: #f5f5f5 !important;
  padding: 15px 20px;
  border-radius: 10px;
}

.arrival,
.departure {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.arrival p,
.departure p {
  font-size: 13px;
  margin-top: 10px;
}

h5 {
  font-size: 16px;
  color: #8db411;
  font-weight: 600;
  text-transform: uppercase;
}

.date-box {
  display: flex;
  border-radius: 12px;
  font-size: 22px !important;
  font-weight: 800;
  width: fit-content;
}

.companions {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.companions__header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  color: #8db411;
  font-size: 18px;
}

.companions__header i {
  font-size: 24px;
}

.allCompanions {
  background-color: #f5f5f5 !important;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.companions__total {
  margin-bottom: 16px;
  display: flex;
  font-size: 17px;
  font-weight: 600;
}

.companions__total p {
  margin-right: 5px;
}

.companions__details {
  margin-bottom: 16px;
  display: flex;
}

.companion {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 10px;
  gap: 5px;
}

.companion i {
  color: #8db411;
  font-size: 18px;
}

.companions__pets {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.companions__pets i {
  color: #8db411;
  font-size: 18px;
}

.companions__left {
  margin-right: 14px;
}

.detailContent__right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.detailContent__left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 40px;
}

.facilities {
  display: flex;
  margin-bottom: 15px;
  color: #8db411;

  font-size: 18px;
}

.facilities i {
  font-size: 20px;
  align-items: center;
  margin-right: 10px;
}

.facility {
  background-color: #f5f5f5 !important;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 5px;
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 10px;
}

.facility i {
  border-radius: 16px;
  font-size: 18px;
  margin-left: 10px;
  color: #87ab10;
}

.facility span {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.facility-items__container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.pictures__container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.pictures__container i {
  font-size: 20px;
  margin-right: 10px;
}

.pictures__header {
  display: flex;
  font-size: 18px;
  color: #8db411;
}

.pictures {
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.pictures img {
  width: 50%;
  margin-right: 5px;
}

.confirm-email {
  margin-top: 40px;
}

.campingInfo__content {
  margin-bottom: 20px;
}
